/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.text-small {
    font-size: small;
}

.text-grey {
    color: #979797;
}

a {
    text-decoration: none;
    color: #fff;
    transition: font-size 0.3s;
}

a:hover {
    font-size: 1.125rem;
}

.a-link {
    display: flex;
    width: 120px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #4B8673;
}

.a-link-big {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #4B8673;
    margin-top: 8px;
}

.a-link-big-secondary {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color: #4B8673;
    border-radius: 10px;
    border: 1px solid #4B8673;
    margin-top: 8px;
}

.fw-500 {
    font-weight: 500;
}

.submit-style {
    padding: 10px 20px;
    border-radius: 10px;
    background: #4B8673;
    margin-top: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: font-size 0.3s ease-in-out;
}

.submit-style:hover {
    font-size: 18px;
}
strong{
    font-weight: 600;
}
em{
    font-style: italic;
}

/* header */
header {
    width: 100%;
}

/* navbar */

nav {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
}

nav .nav-list ul {
    display: flex;
    gap: 1rem;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    transition: font-size 0.3s;
}

.nav-list a:hover {
    text-decoration: underline;
    font-size: 1.1rem;
}

/* slider */
.header-slider {
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* lightbox */
.gallery a {
    /* display: block;
    position: relative; */
    overflow: hidden;
}


.gallery a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery a:hover img {
    transform: scale(1.05);
}

/* header container */
.header-container {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.44);
    text-align: center;
}

.header-container .tagline {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
}

.header-container form {
    display: flex;
    justify-content: space-around;
    width: 350px;
    border-radius: 15px;
    background: #FFF;
    font-size: 20px;
}

.header-container form input {
    height: 50px;
    width: 80%;
    border: none;
    font-size: 20px;
    border-radius: 15px;
}

.header-container form input:focus {
    border: none;
    outline: none;
}

.header-container form button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 20px;

}

/* main */


.kategori .row .col a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    background: #007F6D;
}

.rekomendasi .daftarRekomendasi .card {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.rekomendasi .daftarRekomendasi .card p {
    font-size: small;
}

.rekomendasi .more {
    background-color: #1A2F28;
}

.submit-form {
    display: flex;
    justify-content: center;
}

.search-form input,
.select-form select,
.submit-form button {
    font-size: 14px;
}

/* provinsi */
.list-provinsi {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.provinsi {
    width: 180px;
    height: 180px;
    position: relative;


}

.provinsi a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: larger;
    font-weight: 700;
    transition: font-size 0.3s ease-in-out;
}

.provinsi a:hover {
    font-size: 20px;
}

.provinsi img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    object-fit: cover;
}

/* detail post */

.judul-post,
.diskusi-post .container-fluid {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.deskripsi-post p {
    text-align: justify;
}

.stars {
    user-select: none;
}

.star {
    font-size: xx-large;
    background: unset;
    border: none;
}

.star:hover {
    cursor: pointer;
}

.rating form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rating form .input {
    font-size: medium;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #E8E8E8;
}

.rating form .input label {
    font-size: xx-large;

}

.rating form .input label:hover {
    cursor: pointer;
}

.rating form .input #komentar-input {
    border: none;
    background: unset;
}

.rating form .input #komentar-input:focus {
    outline: none;
}

.rating form .input button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: x-large;
}

.rating form .input #image {
    display: none;
}

.rating form .input img {
    height: 24px;
}

.komentar img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.komentar .profile-icon {
    gap: 10px;
    align-items: center;
}

.komentar i {
    font-size: medium;
    color: #FFE500;
}

.container-isi {
    margin-left: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.container-isi p {
    font-weight: 400;
    font-size: smaller;
}

.container-isi .opsi-komen ul {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: end;
    font-size: small;
    font-weight: 500;
}

.opsi-balas:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.opsi-lapor:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.komen-child {
    margin-left: 60px;
}

/* balas komen */
.balas-komen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balas-komen form {
    font-size: medium;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background: #E8E8E8;
}

.balas-komen form label {
    font-size: xx-large;

}

.balas-komen form label:hover {
    cursor: pointer;
}

.balas-komen form #komentar-input {
    border: none;
    background: unset;
}

.balas-komen form #komentar-input:focus {
    outline: none;
}

.balas-komen form button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: x-large;
}

.balas-komen form #image {
    display: none;
}

.balas-komen form img {
    height: 24px;
}

.balas-komen form i {
    font-size: 24px;
    color: black;
}


/* profile */
.profile {
    background-image: url("../img/profile-background.png");
    /* height: 100%; */

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: static;
    display: flex;
    justify-content: center;
    flex: 1;
    /* Take up the available space */
    overflow-y: auto;
}

.frame-profile {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    
}

.container {
    background-color: #FFF;
    border-radius: 10px;

}

.sidebar {
    top: 0;
    position: sticky;
    overflow-y: auto;
}

.content-profile {
    max-height: calc(100vh - 8rem);
    min-height: calc(100vh - 8rem);
    overflow-y: auto;
}

.daftar-postingan .card {
    width: 160px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.daftar-postingan .card p {
    font-size: small;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* report komentar */
.daftar-reports {
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

table {
    font-size: 12px;
}

th {
    font-weight: 500;
}

tr,
th {
    border-bottom: 1px solid #8E98A8;

}

table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

table a {
    font-size: 12px;
    margin-left: 4px;
    transition: font-size 0.3s ease;
}

table a:hover {
    font-size: 13px;
}

table td {
    vertical-align: middle;
}

/* Login style */


.login-image {
    width: 100%;
    height: 100vh;
}


.login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form input {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #007F6D;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 60%;
}

.login-google-button {
    padding: 10px 0;
    background-color: #007F6D;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.separator {
    width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.separator-line {
    flex: 1;
    border-top: 1px solid #ccc;
}

.separator-text {
    margin: 0 10px;
    color: #214924;
    font-size: 14px;
}

.register-link {
    margin-top: 10px;
    text-decoration: none;
    color: #007F6D
}

.tab-container {
    display: flex;
    width: 60%;
}
.tab a{
    color: #007F6D;
}

.tab {
    
    flex: 1;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.active-tab {
    color: #007F6D;
}

.tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #007F6D;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.tab.active-tab::after {
    width: 100%;
}

h1 {
    text-align: center;
    color: #007F6D;
}


/* PROFILE */
.info-umum {
    justify-content: start;
    gap: 2rem;
    align-items: center;
}

.info-umum .image-profile {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
}

.info-detail {
    font-size: 13px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.info-detail input.input-profile {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 0.8rem;
}

.info-detail input.input-profile:focus {
    outline: none;
    border-color: #007F6D;
    box-shadow: 0 0 5px rgba(0, 127, 109, 0.5);
}

.info-detail input.input-profile::placeholder {
    margin-left: 10px;
}

/* POSTING */


.form-left {
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.form-left label {
    font-size: 16px;
    text-align: center;
}

.form-left input[type="file"] {
    width: 100%;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}
.form-left .frame-input-post{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #8E98A8;
}
.form-left .frame-input-post #imagePreview{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    display: hidden;
}
.form-left .frame-input-post #imagePreview img{
    max-height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: hidden;
}

/* .form-right p,
.form-right {
    text-align: left;
    color: #9C9C9C;
} */

.form-right label{
    text-align: left;
    color: black;
}


.form-right input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-label:hover {
    background-color: #0056b3;
}

.form-left input[type="file"] {
    display: none;
}  

/* detele trix attach */
trix-toolbar [data-trix-button-group="file-tools"]{
    display: none;
}